$primary: #1b5e20;
$primary-light: #4c8c4a;
$primary-dark: #003300;
$secondary: #0277bd;
$secondary-light: #58a5f0;
$background-color: #E1E2E1;
$section-background: #EEEEEE;
$secondary-dark: #004c8c;
$minWidth: 295px;

@mixin easeOut {
  transition: all 0.2s ease-out;
}