#breadcrumb {
  list-style: none;
  padding: 0;
  visibility: hidden;
}

#map {
  min-width: 275px;
  height: 424px;
  width: 100%;
  z-index: 0;
  margin: 0 auto;
}

#restaurant-container {
  display: inline;
  margin: 0 0 1rem 0;
}

#restaurant-name {
  margin: 0;
}

#restaurant-hours {
  width: 100%;
}

.restaurant-hours {
  margin: 0.75rem;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  &-table {
    &-header {
      margin: 8px 0;
      background-color: $secondary-light;
    }
    padding: 0.5rem 0;
    margin: 0 auto;

    &-row {
      border-bottom: lightblue solid 1px;
    }

    &-day {
      padding-right: 0.5rem;
      text-align: right;
      border-right: lightblue solid 1px;
    }
    &-times {
      text-align: left;
      padding-left: 0.5rem;
    }
  }
}
#reviews-container {
  margin: 4px;
  background-color: white;
}
.restaurant-reviews {
  &-list {
    list-style: none;
    padding: 0;
  }
  &-header {
    background-color: $secondary-light;
  }
}

.review {
  width: 100%;
  margin: 4px;
  background-color: $background-color;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
