// Menu Button
.menu-btn {
  position: fixed;
  z-index: 3;
  right: 1rem;
  top: 1.25rem;
  cursor: pointer;
  @include easeOut;

  &-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  &.close {
    // transform: rotate(180deg);

    .menu-btn-line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}

.menu {
  position: fixed;
  width: 40vw;
  right: 0.5rem;
  opacity: 0.7;
  visibility: hidden;
  background-color: $primary-dark;
  color: whitesmoke;
  font-weight: 600;
  transform: translate3d(0, -100%, 0);
  @include easeOut;

  &.show {
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: start;
    height: 67vh;
    padding: 3.5rem 0 0 0;
    margin: 0;
    list-style: none;

    &-link {
      display: inline-block;
      padding: 1rem;
      font-weight: 300;
      width: 100%;

      &:hover{
        color: $secondary-light;
        text-decoration: underline;
        font-weight: bold;
      }
    }

  }
}
