$primary: #1b5e20;
$secondary: #0277bd;
$background-color: #E1E2E1;
$section-background: #EEEEEE;
$primary-light: #4c8c4a;
$header-footer: 48px;

/* FOR TESTING */
$minHeight:800px + (2*$header-footer);


html {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
  padding: 0;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary
}

body {
  background: $background-color;
  min-width: 295px;
  width: 100vw;
}

header {
  background: $section-background;
  margin-bottom: 8px;
  position: fixed;
  top: 0;
  width:100vw;
}

.brand {
  display: flex;
  background: white;
  width: fit-content;
  padding: 0.25em;
}

main {
  margin-top: $header-footer + 8px;
  margin-bottom: $header-footer - 8px;
  min-height: $minHeight;
  background: whitesmoke;
}

footer {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  background: $primary-light;
  width:100vw;
}

.menu{
  display: flex;
  flex-direction: row;
  height: 36px;
}

.icons{
  float: right;
}